/* Form fields
-------------------------------------------------------------- */
input[type=text],input[type=password],input.text,input.title,textarea,select {
  background-color:#fff;
  border:1px solid #bbb;
}

input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus,select:focus {
  border-color:#000;
}

input[type=text],input[type=password],textarea {
  padding:0.4em;
}

/* Form Layout Defaults
------------------------------------------------------------------ */
form dl {
  padding:5px 0;
  margin:0;
  clear:both;
}

form dt,form dd {
  padding:0;
  margin:0;
  display: block;
  float:left;
  line-height:1.25em;
}

form dt {
  width: 300px;
  margin-right:10px;
  margin-top: 2px;
  text-align:right;
  font-weight:bold;
}

form dd {
  width: 646px;
}

form dd p {
  margin-top: 2px;
}

form dd hr {
	margin-left: -7px;
  margin-top: .7em;
}


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }
