/* Default font settings. The font-size percentage is of 16px. (0.81 * 16px = 13px) */
body { font-family: "Lucida Grande", Verdana, Arial, sans-serif; font-size: 0.8em; }

/* Headings
-------------------------------------------------------------- */
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

/* Text elements
-------------------------------------------------------------- */
p { line-height:1;}
sup,sub { line-height:0; }
blockquote { margin:1.5em; color:#666; }
label { font-weight:bold; }

a { font-style: normal; font-weight: normal; color:#004080; text-decoration:none;}
a:hover { font-style: normal; font-weight: normal; color:#07183e; text-decoration:underline; }

small { font-size: 80%; }
big { font-size: 110%; }
strong { font-weight:bold; }
b { font-weight:bold; }
i { font-style: italic; }
bi { font-style: italic; font-weight: bold; }

pre { margin:1.5em 0; white-space:pre; }
pre,code,tt { font:1em 'andale mono', 'lucida console', monospace; line-height:1.5; }

/* Lists
-------------------------------------------------------------- */
li ul,li ol { }
ul,ol { }
ul { list-style-type:disc; }
ol { list-style-type:decimal; }
dl { }
dt { }
dd { }

